.video{
	width: 1260px;
	height: 542px;
	position: relative;
	background-image: url(../img/video_bg_d61c2a9.jpg);
	/*border:  solid 1px black;*/
}
/*.video_list_main a{
	display: block;
	width: 227px;
	height: 148px;
	float: left;
	margin-left: 22px;
	margin-top: 28px;
	background-image: url(../img/index_z_25d54cc.png);
	background-position: -330px -746px;
}*/
.video_h{
	width: 227px;
	height: 148px;
	display: block;
	float: left;
	margin-left: 22px;
	/*margin-top: 28px;*/
	background-image: url(../img/index_z_25d54cc.png);
	background-position: -330px -746px;
}
.video_part{
	width:1260px;
	height: 514px;
	position: relative;
	margin: auto;
	top: 28px;
	/*left: 320px;*/
	/*margin-top: 28px;*/
	/*margin-bottom: 0px;*/
	/*margin: auto;*/
}
.video_part a{
	width: 271px;
	height: 201px;
	float: left;
	display: block;
	vertical-align: middle;
	/*margin: auto;*/
	text-decoration: none;
	margin-top: 28px;
	margin-left: 22px;
	/*margin-right: 22px;*/
	overflow: hidden;
}
.video_list:hover .video_img_two{
	transform: scale(1.1);
	transition: all .4s;
}
.video_list_main{
	width: 315px;
	height: 257px;
	float: left;
}
.video_img_two{
	width: 270px;
	height: 154px;
	vertical-align: middle;
}
.video_list p{
	width: 270px;
	height: 45px;
	color: #000;
	font-size: 14px;
	text-indent: 12px;
	line-height: 45px;
	background: #fff;
	display: block;
	text-align: center;
	vertical-align: middle;
}
